version: "3.8"

services:
  mysql:
    image: mysql:8.4
    container_name: casadosoftware-db
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: casadosoftware_dev
    volumes:
      - mysqldata:/var/lib/mysql

volumes:
  mysqldata:
